@use '../../style/variables' as *;

.header-main {
  height: 7.1875rem;
  border-bottom: 0.1rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  .left-header {
    display: flex;
    align-items: center;

    .header-logo {
      width: 5rem;
    }

    .header-navigation {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 4.735rem;
      margin-left: 4.735rem;

      .active {
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
      }

      h1 {
        all: unset;
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        color: black;
      }
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    gap: 2rem;

    .header-user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      h1 {
        font-weight: 300;
        letter-spacing: 0.05rem;
      }
      .user-icon {
        width: 4rem;
        border: 0.2rem solid black;
        border-radius: 2rem;
      }
    }
    .searchbar {
      position: relative;

      .search-icon {
        position: absolute;
        right: 2rem;
        top: 0.4rem;
      }

      .search-input {
        all: unset;
        width: 28.25rem;
        height: 3.5rem;
        border: 0.1rem solid $secondary_color;
        border-radius: 3rem;
        padding-left: 1.625rem;
        font-size: 1.5rem;
      }
    }
  }
}
