{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "vue/attributes-order": [
      "warn",
      {
        "order": [
          "CONDITIONALS",
          "LIST_RENDERING",
          "RENDER_MODIFIERS",
          "TWO_WAY_BINDING",
          ["UNIQUE", "SLOT"],
          "OTHER_ATTR",
          "OTHER_DIRECTIVES",
          "CONTENT",
          "EVENTS",
          "DEFINITION",
          "UNIQUE",
          "GLOBAL"
        ],
        "alphabetical": false
      }
    ],
    "vue/html-self-closing": ["off"],
    "no-console": "off", // Warn on console.log usage
    "no-debugger": "error", // Disallow debugger statements
    "semi": ["error", "always"], // Enforce semicolons at the end of statements
    "quotes": ["error", "single"], // Enforce single quotes for strings
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": 1
      }
    ], // Limit the number of attributes per line in Vue components
    "vue/singleline-html-element-content-newline": "off", // Disable newlines for single-line HTML elements
    "vue/multiline-html-element-content-newline": [
      "error",
      {
        "allowEmptyLines": true
      }
    ], // Allow empty lines between content in multiline Vue elements
    "@typescript-eslint/no-explicit-any": "warn", // Warn on usage of 'any' type
    "@typescript-eslint/no-unused-vars": "warn", // Warn on unused variables
    "@typescript-eslint/explicit-module-boundary-types": "off", // Turn off explicit return types in functions (optional)
    "comma-dangle": ["error", "always-multiline"],
    "vue/multi-word-component-names": "off",
    "space-before-function-paren": "off"
  }
}
