$primary_color: #acffa2;
$primary_text_color: #ffffff;

// Default values
$border-rad-sm: 0.4rem;
$gap-sm: 1rem;

$gap-l: 3rem;

$font-size-s: 1rem;
$font-size-m: 1.3rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.1rem;
// $font-size-m:

// Breakpoints for screensizes
$size-sm: 600px;
$size-md: 768px;
$size-lg: 992px;
