$primary_color: #d8e4ff;
$secondary_color: #6b818c;
$tertiary_color: #35605a;
$primary_text_color: #000000;
$card_text_color: #f1f2ed;
$text_link_color: #8aaeff;
$text-error-color: #ff0000;

// Default values
$border-rad-sm: 0.4rem;
$gap-sm: 1rem;

$gap-l: 3rem;

$font-size-s: 1rem;
$font-size-m: 1.3rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.1rem;
// $font-size-m:

// Breakpoints for screensizes
$size-sm: 600px;
$size-md: 768px;
$size-lg: 992px;
