@use '../../style/main';
@use '../../style/variables' as *;

.login-form-container {
  border: 1px solid black;
  width: 50vw;
  height: 70vh;
  margin-bottom: 10rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .login-column {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    .login-label {
      text-decoration: none;
    }
    .email-input-label {
      font-size: $font-size-s;
      text-decoration: none;
      font-weight: 600;
    }
    .email-section {
      .email-input {
        width: 25rem;
        font-size: 1.2rem;
        padding: 0.5rem;
        font-size: $font-size-m;
      }
    }
    .invalid-credentials {
      color: $text-error-color;
      font-weight: bold;
    }
  }

  .login-input {
    width: 25rem;
  }
}
