@forward '../../style/main.scss';
@use '../../style/main.scss' as *;

.navButtonsContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 79vw;
  z-index: 10;
  height: 26.625rem;
  button {
    all: unset;
    font-size: 3rem;
    width: 3rem;
    transition-duration: 0.3s;

    &:hover {
      cursor: pointer;
    }
  }
}

.carousel {
  margin-left: 2rem;
  width: 80vw;
  height: 26.625rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
  padding-left: 0.7rem;
  padding: 1rem 0;
  .carousel-items-container {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    gap: 1rem;
    width: 100%;
  }
}
