@forward '../../style/main.scss';
@use '../../style/main.scss' as *;

.navButtonsContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 79vw;
  z-index: 10;
  button {
    all: unset;
    font-size: 3rem;

    &:hover {
      color: rgb(37, 37, 37);
      cursor: pointer;
    }
  }
}

.carousel {
  margin-left: 2rem;
  width: 80vw;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
  padding-left: 0.7rem;
  padding: 1rem 0;
  .carousel-items-container {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    gap: 1rem;
    width: 100%;
  }
}
