@use '../../style/main.scss' as *;

.input {
  outline: none;
  border: none;
  width: 16rem;
  height: 3rem;
  font-size: 2.3rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: $border-rad-sm;
  color: $primary_text_color;
  padding: 1rem;
  font-weight: 500;
  transition-duration: 0.3s;
}

.expand-class:focus,
.expand-class:not(:placeholder-shown) {
  width: 50rem;
}
