@forward '../../style/main.scss';
@use '../../style/main.scss' as *;

.default-layout-container {
  display: flex;
  flex-direction: row;

  div {
    .content-page-wrapper {
      display: grid;
      grid-template-columns: auto 20rem;
    }
  }
}
